nav {
    height: 50px;
    width: 100%;

}
nav li {
    float: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav h4 {
    font-size: 25px;
    color: #670714;
    margin: 0px;
}
nav li a:hover {
    background-color: #eba7a6;
    color: white;
    text-decoration: underline;
}

nav li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
